*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

/* stili tag */

body{
    margin: 30px 120px;
}

/* stili classi */

.navigation{
    width: auto;
    height: 120px;
    background-color: pink;
}

.container{
    margin: 25px 0 10px 0;
    width: auto;
    height: 900px;
}

.containerTop{
    width: auto;
    height: 40%;
    background-color: gold;
    margin-bottom: 25px;
}

.containerBottom{
    width: auto;
    height: calc(60% - 25px);
    background-color: royalblue;
}

.footer{
    width: auto;
    height: 50px;
    background-color: purple;
}

.containerBottom>:first-child{
    width: auto;
    height: calc(100% / 8);
    background-color: lightblue;
    margin-bottom: 20px;
}

.menuArea{
    width: calc(20% - 10px);
    height: calc(100% - 13% - 40px);
    background-color: lightblue;
    float: left;
}

.mainArea{
    width: calc(60% - 10px);
    height: calc(100% - 13% - 40px);
    margin: 0 15px;
    background-color: lightblue;
    float: left;
}

.trdArea{
    width: calc(20% - 10px);
    height: calc(100% - 13% - 40px);
    background-color: lightblue;
    float: left;
}