*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
  }

/* stili tag */

body{
    margin: 30px 120px;
}

/* stili classi */

.navigation{
    width: auto;
    height: 120px;
    background-color: rgb(215, 129, 224);
}

.container{
    margin: 25px 0 10px 0;
    width: auto;
    height: 900px;
}

.containerTop{
    width: auto;
    height: 40%;
    background-color: rgb(224, 214, 134);
    margin-bottom: 25px;
}

.containerBottom{
    width: auto;
    height: calc(60% - 25px);
    background-color: rgb(56, 139, 242);
}

.footer{
    width: auto;
    height: 50px;
    background-color: rgb(128, 40, 244);
}

.containerBottom>:first-child{
    width: auto;
    height: calc(100% / 8);
    background-color: rgb(178, 206, 228);
    margin-bottom: 20px;
}

.containerBottomProperties{
    width: calc(20% - 10px);
    height: calc(100% - 13% - 40px);
    background-color: rgb(178, 206, 228);
    float: left;
}

.mainArea{
    width: calc(60% - 10px);
    margin: 0 15px;
}